name: Deploy

on:
  push:
    branches:
      - "**"
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to server via SSH
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.SERVER_IP }}
          port: ${{ secrets.SERVER_PORT }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            cd ~/app
            docker compose pull       # optional: neue Images vom Registry ziehen
            docker compose up -d --build  # Build passiert auf dem Server

      - name: Show key format
        run: |
          echo "${{ secrets.SERVER_SSH_KEY }}" | wc -l

      - name: Test SSH connection
        run: |
          ssh -vvv -i <(echo "${{ secrets.SERVER_SSH_KEY }}") -p ${{ secrets.SERVER_PORT }} ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_IP }} "echo 'connected'"
