name: ci-deploy

on:
  push:

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker
        uses: docker/setup-docker@v3

      - name: Build and export Docker images
        run: |
          docker build -t frontend ./frontend
          docker build -t backend ./backend
          docker save frontend backend -o conduit-fullstack.tar

      - name: Load Docker images and deploy on server
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          port: ${{ secrets.SERVER_PORT }}
          script: |
            cd /home/eherzog/conduit-fullstack
            docker load -i conduit-fullstack.tar
            docker compose up -d --build
