name: ci

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      # Checkout Repository
      - name: Checkout code
        uses: actions/checkout@v3

      # Copy Docker Compose File to VM via SCP Action
      - name: Copy Docker Compose File to VM via SCP Action
        uses: appleboy/scp-action@v1.0.0
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SECRET_SSH_KEY }}
          port: ${{ secrets.PORT }}
          source: "docker-compose.yml"
          target: /home/eherzog/conduit-fullstack/

      # Remote Deployment via SSH + Docker Compose
      - name: Deploy to VM via SSH
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SECRET_SSH_KEY }}
          port: ${{ secrets.PORT }}
          script: |
            docker login ghcr.io -u ${{ github.repository_owner }} --password-stdin <<< ${{ secrets.GITHUB_TOKEN }}
            cd /home/eherzog/conduit-fullstack
            docker-compose down
            docker-compose pull
            docker-compose up -d
